* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('./assets/backgroundd.svg');  
    background-size: cover;  
    background-position: center center;  
    background-repeat: no-repeat; 
    height: 100vh;  
  }